
.engaged {
  display: none;
  
  @media screen and (min-width: 1280px) {
      display: flex;
      padding-top: 94px;
padding-bottom: 94px;
  }

  
  &__list {
    @include flex-box ($DISTANCE: 30px,);

}
&__title {
    @include title($size: 14px, $height: normal, $spacing: 0.42px);
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
}

&__text1 {
padding-left: 107px;
padding-right: 107px;
}

&__text3 {
  padding-left: auto;
padding-right: auto;
}

&__box {
width: 370px;
height: 70px;
position: relative;
z-index: 678;
background-color: #2F303ACC ;
bottom: 68px;
}
&__text {
  color: $title-color;
text-align: center;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.42px;
text-transform: uppercase;
padding-top: 27px;
padding-bottom: 27px;

}


&__photo {
  width: 370px;
  height: 294px;
  display: block;
  background: url(<path-to-image>) rgb(255, 255, 255) 50% / cover no-repeat;
  position: relative;
}
}
