.header {
  padding-top: 24px;
  padding-bottom: 25px;
}
.button {
  padding-top: 94px;
  padding-bottom: 34px;
  display: flex;
}
.button-list {
  display: flex;
  gap: 8px;
  justify-content: center;
}
.button-list:nth-child(1) {
  flex-basis: 73px;
  height: 38px;
  flex-shrink: 0;
}

.button-list:nth-child(2) {
  flex-basis: 125px;
  height: 38px;
  flex-shrink: 0;
}

.button-list:nth-child(3) {
  flex-basis: 112px;
  height: 38px;
  flex-shrink: 0;
}
.button-list:nth-child(4) {
  flex-basis: 103px;
  height: 38px;
  flex-shrink: 0;
}
.button-list:nth-child(5) {
  flex-basis: 130px;
  height: 38px;
  flex-shrink: 0;
}

.list {
  padding-bottom: 122px;
}
.button-buttton:hover {
  border-radius: 4px;
  background: var(--subtitle-color);
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
  color: var(--title-color);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
  letter-spacing: 0.48px;
}
.button-buttton {
  color: var(--text1-color);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 162.5% */
  letter-spacing: 0.48px;
  display: flex;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color  250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow  250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.list-photo {
  flex-basis: 370px;
  height: 294px;
  flex-shrink: 0;
  background: url(<path-to-image>) lightgray 50% / cover no-repeat;
  margin-bottom: 20px;
}

.list-title {
  color: var(--text-color);
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 200% */
  letter-spacing: 1.08px;
  width: 322px;
  padding-bottom: 4px;
  padding-left: 24px;
}

.list-subtitle {
  color: var(--subtext-color);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.48px;
  width: 322px;
  padding-left: 24px;
  padding-bottom: 20px;
}

.list-list {
    list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  gap: 30px;
  padding-top: 50px;
}
.list-item:hover {
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);

}

.list-item {
  flex-shrink: 0;
  flex-basis: calc((100% - (30px * 2)) / 3);
  border: 1px solid #eee;
 
}
.photo-scroll {
position: fixed;
bottom: 0;
right: 0;
      width: 43px;
  height: 41px;
  background-color: #2196F3;
width: 96px;
height: 96px;
border-radius: 50%;

}
.item-overlay:hover {
  display: block;
}

.item-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
   background: rgba(33, 150, 243, 0.9);
  transform: translatey(100%);
  transition: transform 250ms ease-in-out;
}


.katolog-box:hover .item-overlay {
  transform: translatey(0);
}

.text-overlay {
    width: 322px;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.54px;
  margin: 63px 24px;
}

.katolog-box {
    position: relative;
  overflow: hidden;
}