.warning {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    display: flex;
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &__list {
    display: flex;

    @include flex-box($DISTANCE: 30px);

    @media screen and (min-width: 768px) {
      @include flex-box($DISTANCE: 30px, $vertical: none, $content: none);
      flex-wrap: wrap;
    }
  }

  &__title {
    color: $text-color;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    width: 270px;
    margin-bottom: 10px;
  }
  &__text {
    color: $subtext-color;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    width: 270px;
    height: 72px;
  }
 &__art1::before {
    @extend %art;
    background-image: url("../img/mobile/info-antena@mobile-1x.webp");
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url("../img/mobile/info-antena@mobile-2x.webp");
    }
    @media screen and (min-width: 768px) {
      background-image: url("../img/tablet/info-antena@tablet-1x.webp");
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url("../img/tablet/info-antena@tablet-2x.webp");
      }
    }
    @media screen and (min-width: 1200px) {
      background-image: url("../img/desktop/info-antena@desktop-1x.webp");
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url("../img/desktop/info-antena@desktop-2x.webp");
      }
    }
  }

 &__art2::before {
    @extend %art ;
    background-image: url("../img/mobile/info-clock@mobile-1x.webp");
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url("../img/mobile/info-clock@mobile-2x.webp");
    }
    @media screen and (min-width: 768px) {
      background-image: url("../img/tablet/info-clock@tablet-1x.webp");
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url("../img/tablet/info-clock@tablet-2x.webp");
      }
    }
    @media screen and (min-width: 1200px) {
      background-image: url("../img/desktop/info-clock@desktop-1x.webp");
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url("../img/desktop/info-clock@desktop-2x.webp");
      }
    }
  }

 &__art3::before {
    @extend %art ;
    background-image: url("../img/mobile/info-computer@mobile-1x.webp");
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url("../img/mobile/info-computer@mobile-2x.webp");
    }
    @media screen and (min-width: 768px) {
      background-image: url("../img/tablet/info-computer@tablet-1x.webp");
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url("../img/tablet/info-computer@tablet-2x.webp");
      }
    }
    @media screen and (min-width: 1200px) {
      background-image: url("../img/desktop/info-computer@desktop-1x.webp");
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url("../img/desktop/info-computer@desktop-2x.webp");
      }
    }
  }

 &__art4::before {
    @extend %art ;
    background-image: url("../img/mobile/info-astronaut@mobile-1x.webp");
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url("../img/mobile/info-astronaut@mobile-2x.webp");
    }
    @media screen and (min-width: 768px) {
      background-image: url("../img/tablet/info-astronaut@tablet-1x.webp");
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url("../img/tablet/info-astronaut@tablet-2x.webp");
      }
    }
    @media screen and (min-width: 1200px) {
      background-image: url("../img/desktop/info-astronaut@desktop-1x.webp");
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url("../img/desktop/info-astronaut@desktop-2x.webp");
      }
    }
  }
}
